@charset "UTF-8"

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://png.pngtree.com/background/20210717/original/pngtree-modern-tuscany-portfolio-picture-image_1442936.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1, h3 {
    text-align: center;
    color: #333;
}

h1 {
    font-size: 45px;
    color: rgb(237, 191, 236);
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: rgb(192, 237, 215);
    
}

button {
    background-color: #f59bf2;
    color: rgb(222, 61, 61);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
}

button:hover {
    background-color: #f093f4;
}

a {
    text-decoration: none;
}

.perfil {
    text-align: center;
    background-color: rgb(210, 146, 146);
    padding: 20px;
    border-radius: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#foto{
    width: 130px; 
    height: auto; 
    border-radius: 50%;
    border: 2px solid #621297; 
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.1);
     
}
