@charset "UTF-8"

;body{
    font-family: Arial, sans-serif;
    background-color: #1f1c1c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h3 {
    text-align: center;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: antiquewhite;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: rgb(159, 232, 197);
}

button {
    background-color: #eaefd4;
    color: rgb(222, 61, 61);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #c0c9d2;
}

a {
    text-decoration: none;
}

.perfil {
    text-align: center;
    background-color: rgb(77, 67, 67);
    padding: 20px;
    border-radius: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#foto{
    border-radius: 50%;
    width: 110px;
    
}